@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
  background-color:black;
}



:root{
  
--rf-brand: #00FFFF;
--rf-brand-rgb: 248, 54, 145;
--rf-dark: #212237;
--rf-body: #FFFFFF;
--f-main: "raleway" , sanz-serif
--transition: all .6s cubic-bezier(.165, .85, .44, 1); 
--shadow: 0px, 15px, 30px, rgba(0,0,0,0. 1);
}

body{
  font-family: var(--f-main);
  color(--rf-body);
  line-height: 1.5;
}

h1, .h1 h2, .h2 h3, .h3 h4, .h4 h5, .h5 h6, .h6{
  font-weight: 700;
  siz: 50px;
  color: var(--rf-body);
  font-family: var(--f-main);
}
  
.teks-brand{
  color: var(--rf-body);
}
.navbar {
  background-color: black;
 padding-top: 25px;
 padding-bottom: 10px;
}
img{
}

.section-padding{
  padding-top: 250px;
  padding-bottom: 250px);
}

.section-titel{
  max-width: 250px;
  margin: 0 auto 60px auto;
}
#progressbar{
  background size: 30px;
}
.dropdown {
 position: relative;
 display: inline-block;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: cyan;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {background-color: red}

.dropdown:hover .dropdown-content {
 display: block;
}

.dropdown:hover .dropbtn {
 background-color: cyan;
}
